@import "tailwindcss";

@layer utilities {
    .box {
        @apply rounded-lg bg-white dark:bg-[#2e3033] border border-gray-200 dark:border-[#fcfcfc1f] p-4 md:p-6;
    }
}

* {
    /* overscroll-behavior: none; */
    --webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #d3d5d6 transparent;

    font-family: var(--font-serif);
}

@media (prefers-color-scheme: dark) {
    * {
        scrollbar-color: #3a3c40 transparent;
    }
}

#nprogress .bar {
    background: #00a63e !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #00a63e, 0 0 5px #00a63e !important;
}